[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
termcolor = "*"
pympler = "*"
ipython = "*"
ipdb = "*"
pytest = "*"

[packages]
coverage = "*"
termcolor = "*"
pympler = "*"
pytest = "*"
ipdb = "*"
pytest-cov = "*"
coveralls = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
